name: NiveriaAPI CI

on:
  push:
    paths-ignore:
      - ".github/**"
      - ".gitignore"
      - "LICENSE"
      - "README.md"
    branches: [ '**' ]
  pull_request:
    paths-ignore:
      - ".github/**"
      - ".gitignore"
      - "LICENSE"
      - "README.md"
    branches: [ '**' ]


jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      checks: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Cache Gradle
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Set up GraalVM JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: graalvm
          java-version: 21
          cache: gradle

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Derive short SHA
        run: echo "SHORT_SHA=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Build with snapshot version
        env:
          SNAPSHOT: true
          GITHUB_SHA: ${{ github.sha }}
        run: ./gradlew jar --no-daemon --stacktrace

      - name: Upload Plugin JAR
        uses: actions/upload-artifact@v4
        with:
          name: NiveriaAPI-${{ env.SHORT_SHA }}
          path: build/libs/