name: Coverage Check

on:
  pull_request:
    paths-ignore:
      - ".gitignore"
      - "LICENSE"
      - "README.md"
      - ".coderabbit.yaml"
      - ".github/renovate.json"
    branches: [ '**' ]
  push:
    paths-ignore:
      - ".gitignore"
      - "LICENSE"
      - "README.md"
      - ".coderabbit.yaml"
      - ".github/renovate.json"
    branches: [ 'master' ]

jobs:
  coverage:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up GraalVM JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: graalvm
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Run unit tests
        run: ./gradlew jacocoTestReport --refresh-dependencies --no-daemon

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: build/test-results/test/TEST-*.xml
          codecov_yml_path: ./codecov.yml
